<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Easy-vreco</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body class="h-100vh">
  <a class="waves-effect waves-light btn" id="gtLocation">Aqui estoy</a>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="startPoint" type="text" class="validate">
          <label for="startPoint"></label>
        </div>
        <div class="input-field col s6">
          <input id="destinationPoint" type="text" class="validate">
          <label for="destinationPoint"></label>
        </div>
      </div>
    </form>
  </div>
  <a class="waves-effect waves-light btn" id="traceRoute">TRAZAR RUTA</a>
  <div id="map"></div>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi61GxImzRxDVWug9rXFNNq4YncMEgkB8&callback=initMap&libraries=places">
  </script>
  <script src="../js/app.js"></script>
</body>

</html>